
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about" id="about">
    <div class="container">
        <h3 class="w3l-heading assa">About me</h3>
        <div class="col-md-4 w3-about-top">
            <img src="~/Content/images/3.jpg" class="img-responsive" alt="about-img" />
        </div>
        <div class="col-md-8 w3l-about">
            <div class="w3ls-heading">
                <h2>I'm a web designer / developer based in Baku, Azerbaijan. I have a passion for web design and love to create for web and mobile devices.</h2>
            </div>
            <div class="w3ls-about-info">
                <p>My name is Ali Musayev.I am fullstack WebDeveloper.I Am Third Course student of ASOIU. <br />Is a information techonology student in university and cybersecurity is his professionality </p>
            </div>
            <div class="w3l-button">
                <a href="#" data-toggle="modal" data-target="#myModal">check out my profile</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="connn">

    </div>

</div>
<!-- modal -->
<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Blog</h4>
            </div>
            <div class="modal-body">
                <div class="about">
                    <div class="col-md-4 col-sm-4  col-xs-4 about-left ">
                        
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 about-right wthree dd">
                        <h3>Hi, i'm <span>Ali Musayev </span></h3>
                        <h4>Web Designer & Developer </h4>
                        <ul class="address">
                          
                            <li >
                                <ul class="agileits-address-text">
                                    <li><b class="sss" >PHONE: </b></li>
                                    <li>077 639 96 66</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="agileits-address-text">
                                    <li><b class="sss" >ADDRESS: </b></li>
                                    <li> Azerbaijan Baku</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="agileits-address-text">
                                    <li><b class="sss" >EMAIL: </b></li>
                                    <li><a href="mailto:example@mail.com">  emusayev@gmail.com</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul class="agileits-address-text">
                                    <li><b class="sss">Instagram:   </b></li>
                                    <li><a >msyvv_ali</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</div>


