
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="edu" class="agile-edu">
    <div class="container">
        <h3 class="w3l-heading">Skills</h3>
        <div class="work-info">
            <div class="col-md-6 col-sm-6 col-xs-6 work-right work-right2">
            </div>
            <div class="col-md-6  col-sm-6 col-xs-6  work-left work-left2">
                <div class="col-md-6  col-sm-6 col-xs-6  work1">
                    <h4>Software development</h4>
                    <p>Advanced degree in computer science or related field</p>
                </div>
                <div class="col-md-6  col-sm-6 col-xs-6  work2">
                    <h5> University</h5>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="work-info">
            <div class="col-md-6  col-sm-6 col-xs-6">
            </div>
            <div class="col-md-6  col-sm-6 col-xs-6  work-right">
                <div class="col-md-6  col-sm-6 col-xs-6 work2">
                    <span></span>
                    <h5>Course</h5>
                </div>
                <div class="col-md-6  col-sm-6 col-xs-6  work-right1">
                    <h4>Backend Developer</h4>
                    <p>Further training in languages such as C++, Python or C#</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="work-sec-2">
            <div class="work-info">
                <div class="col-md-6  col-sm-6 col-xs-6  work-right work-right2">
                </div>
                <div class="col-md-6  col-sm-6 col-xs-6  work-left work-left2 ">
                    <div class="col-md-6 col-sm-6 col-xs-6  work1">
                        <h4>Web Content Manager</h4>
                        <p>Examples of successful projects where you took a leading role, managing process and other team members.</p>
                    </div>
                    <div class="col-md-6  col-sm-6 col-xs-6  work2">
                        <h5> University</h5>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="work-info">
                <div class="col-md-6  col-sm-6 col-xs-6 ">
                </div>
                <div class="col-md-6  col-sm-6 col-xs-6  work-right">
                    <div class="col-md-6  col-sm-6 col-xs-6  work2">
                        <span></span>
                        <h5>Course</h5>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6  work-right1">
                        <h4>Proficient in Java, HTML, and CSS</h4>
                        <p>Front End Web Developer Professional Certificate</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <span class="edu-circle"></span>
        </div>
    </div>
</div>

