
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header jarallax" id="home">
    <div class="container">
        <div class="banner-text text-center">
            <h2>Iam Ali Musayev</h2>
            <h3> - web developer - </h3>
            <p>Software developer, computer programmer, programmer, software coder or software engineer. </p>
            <div class="w3l-button banner-btn">
                <a href="/Home/About">About More</a>
            </div>
        </div>
        <div class="w3-arrow bounce animated">
        </div>
    </div>

</div>

