<div class="header-w3layouts">
  
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Vitae</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a class="navbar-brand" href="/Home/Index">Ali Musayev</a></h1>
            </div>
           
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li class="hidden"><a class="page-scroll" href="#page-top"></a></li>
                    <li><a class="page-scroll scroll active" href="/Home/Index">Home</a></li>
                    <li><a class="page-scroll scroll" href="/Home/About" data-hover="About">About</a></li>
                    
                    <li><a class="page-scroll scroll" href="/Home/Education">Skills</a></li>
                    
                  
                    <li><a class="page-scroll scroll" href="/Home/ToDoList">ToDoList</a></li>

                </ul>
            </div>
           
        </div>
      
    </nav>
</div>
